pre {
  margin: 7px;
}

.remark-code {
  font-family: "monospace";
  font-size: 14px;
}

.remark-inline-code {
  font-family: "monospace";
  background-color: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  padding: 0.1em 0.4em;
  color: #eb5757;
}

.remark-code {
  padding: 1em !important;
  border-radius: 10px;
  background-color: #9c9e9f !important;
  word-wrap: break-word;
}

.clignote {
  animation: clignote 2s linear infinite;
}

@keyframes clignote {
  50% {
    opacity: 0;
  }
}

.align_left {
  text-align: start;
}

.align_right {
  text-align: end;
}

.cols {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}
.bottom {
  align-items: flex-end
}


.vertbar {
  flex: 0%;
  border: 1px solid black;
  padding: 0px;
  margin: 1rem;
  max-width: 0px;
}

.thirty {
  width: 29%;
}

.fourty {
  /* flex: 40%; */
  width: 39%;
}

.fifty {
  width: 47%;
}

.sixty {
  width: 59%;
}

.thirty-five {
  width: 34%;
}

.sixty-five {
  width: 64%;
}

.twenty {
  width: 19%;
}
.eighty {
  width: 79%;
}

.x-video.embed.with-container {
  border: none;
  box-shadow: none;
}

iframe {
  border-width: 0;
}

p.legend {
  font-size: small;
  text-align: center;
  margin: 0;
}

.small {
  font-size: small;
}

.slide_footer {
  & a {
    text-decoration: none;
  }
  & .current-slides {
    pointer-events: none;
    cursor: default;
    color: green;
  }
}

/* override minesparis.css by being more specific */
body div.slide_footer {
  left: 80%
}
